.profile__edit-button {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(../../../images/Edit_Button.svg);
  border: none;
  align-self: flex-end;
  bottom: 9px;
  cursor: url(../../../images/cursor.svg), pointer;
  transition: opacity, 1s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}