.elements {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 880px;
  margin: 0 auto;
  gap: 20px 17px;
  padding-bottom: 66px;
}

@media screen and (max-width: 900px) {
  .elements {
    grid-template-columns: auto auto;
    max-width: calc(282px*2 + 17px);
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    grid-template-columns: auto;
    max-width: 282px;
    padding-bottom: 48px;
  }
}