.profile__info {
  display: grid;
  grid-template-columns:auto auto auto;
  min-height: 73px;
  max-width: 70%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .profile__info {
    grid-template-columns:auto;
    margin: 0 auto;
    padding: 0 0 36px;
    max-width: calc(100% - 38px);
  }
}